/*Todo arranca oculto*/
#step-3,
#step-2,#step-4,
#sugerencia {
    display: none;
}

#publisher {
    display: flex;
}

* {
    font-family: 'Onest', sans-serif;
}
.card-title{
    font-weight:700;
}
.mis-articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(max-width:800px){
    .card-title{
        font-size: 10px;
    }
 
    .card{
        max-height: 150px;
        font-size: 8px;
        justify-content: center;
        width: 375px;

    }
    .imglista{
        width: 150px;
    }
    .card-body{
        min-width: 150px;
    }
    .precio{
        width: 30px;
        display: flex;
        background-color: rgb(71, 175, 111);
        text-shadow: 1px 1px 1px gray;
        border-radius: 7%;
        color: white;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 0.375rem;
    padding: 1px 1px;

    }
    .btn.btn-primary{
        width: 30px;
        font-size: 8px;
        padding: 1px 1px;
        
        margin: auto;
    }
}

nav a {
    background-color: chocolate;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 15%;
}

nav a:hover {
    background-color: rgb(219, 123, 54);
    border: solid gray 1px;
    font-size: large;

}
/*Para efectos de*/
.aparecer {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .aparecer.mostrar {
    opacity: 1;
    transform: translateY(0);
  }

.publi {
    gap: 2px;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    border: solid 2px rgb(122, 115, 115);
    border-radius: 2%;
}
.imagen{
    margin-left: auto;
}



.card-h {
    display: flex;
    justify-content: space-between;
}
.precio-editar{
    display: flex;
    gap: 5px;
}

.card-body p {
    margin: 0;
    font-weight: 600;

}

.card-body span {

    font-weight: normal;
}

.card-body {
    overflow: hidden;

}

.estado {
    display: inline;
}

.card img {
    max-width: 300px;
    max-height: auto;
}
@media (min-width:800px) {
    .card {
        width: 800px;
        max-height: 300px;
        /*overflow: hidden;*/
    }


.precio {
    display: flex;
    background-color: rgb(71, 175, 111);
    text-shadow: 1px 1px 1px gray;
    border-radius: 7%;
    color: white;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    border-radius: 0.375rem;
    padding: 1px 1px;

}
    
}