
:root{
    font-size: 15px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav li a{
    color: gray;
    padding: 0.5rem;

}
nav a:hover{
    border-bottom: solid .2rem rgba(119, 117, 117,0.7);
    opacity: 0.7;
}
.eventos{
    display: flex;
    justify-content: center;
}
.carousel{
 max-width: 800px;
}
  
@media(max-width:800px){
  :root{
    font-size: 11px;
  }
  .eventos{
   width: 400px;
  }
}




 