<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comerciante</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@200;400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesComerciante.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="comerciante.js">   </script>
      <script src="../controller/gestorArticulosyservicios.js"></script>
</head>
<body>
    <script>
        if(getUserId()==null){//Si no entramos como ningun usuario en concreto, nos metemos en el comerciante de ejemplo.
        setUserId("TCL_oficial98");}
    </script>
    <header>
<nav>
    <a href="comerciantePublicar.html">Publicar nuevo articulo/servicio</a>
    </nav>

    </header>
<main><section class="mis-articulos">
    <h1> Mis Articulos </h1>
    <hr>

    <article class="card d-flex flex-row">
        <img class="imglista" src="https://picsum.photos/700/400?random" class="card-img-top" alt="...">
        <div class="card-body">
            <header class="card-h">
                <h5 class="card-title">Nombre del articulo o servicio</h5>
                <div class="precio-editar">
                <div class="precio">$999.999,99</div>
                <a href="comercianteActualizar.html" class="btn btn-primary">Editar</a></div>
            </header>
            <time datetime="2018-07-07"><span class="fecha"> 07/07/2018</span></time>
            <p >Categoria:<span class="categoria">Farmacia</span>  Estado: <span class="estado"> Disponible/No disponible</span></p>
            <p >Tipo: <span class="tipo"> Articulo/servicio</span></p>
            <p> Restricciones:<span class="restricciones">Solo niños, solo mascotas, +18,etc</span></p>
            <p class="card-text">Detalle:<span class="detalle">
                Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit
                officiis dolorum optio nostrum esse ducimus quas cumque adipisci sequi, tempora aperiam error officia
                tempore tenetur pariatur sapiente alias nulla? ext to build on the card title and make up the bulk of the
                card's content.
            </span> </p>
        </div>
 </article> <article class="card d-flex flex-row">
    <img class="imglista" src="https://picsum.photos/700/400?random" class="card-img-top" alt="...">
    <div class="card-body">
        <header class="card-h">
            <h5 class="card-title">Nombre del articulo o servicio</h5>
            <div class="precio-editar">
            <div class="precio">$999.999,99</div>
            <a href="comercianteActualizar.html" class="btn btn-primary">Editar</a></div>
        </header>
        <time datetime="2018-07-07"><span class="fecha"> 07/07/2018</span></time>
        <p >Categoria:<span class="categoria">Farmacia</span>  Estado: <span class="estado"> Disponible/No disponible</span></p>
        <p >Tipo: <span class="tipo"> Articulo/servicio</span></p>
        <p> Restricciones:<span class="restricciones">Solo niños, solo mascotas, +18,etc</span></p>
        <p class="card-text">Detalle:<span class="detalle">
            Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit
            officiis dolorum optio nostrum esse ducimus quas cumque adipisci sequi, tempora aperiam error officia
            tempore tenetur pariatur sapiente alias nulla? ext to build on the card title and make up the bulk of the
            card's content.
        </span> </p>
    </div>
</article>
<article class="card d-flex flex-row">
    <img class="imglista" src="https://picsum.photos/700/400?random" class="card-img-top" alt="...">
    <div class="card-body">
        <header class="card-h">
            <h5 class="card-title">Nombre del articulo o servicio</h5>
            <div class="precio-editar">
            <div class="precio">$999.999,99</div>
            <a href="comercianteActualizar.html" class="btn btn-primary">Editar</a></div>
        </header>
        <time datetime="2018-07-07"><span class="fecha"> 07/07/2018</span></time>
        <p >Categoria:<span class="categoria">Farmacia</span>  Estado: <span class="estado"> Disponible/No disponible</span></p>
        <p >Tipo: <span class="tipo"> Articulo/servicio</span></p>
        <p> Restricciones:<span class="restricciones">Solo niños, solo mascotas, +18,etc</span></p>
        <p class="card-text">Detalle:<span class="detalle">
            Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit
            officiis dolorum optio nostrum esse ducimus quas cumque adipisci sequi, tempora aperiam error officia
            tempore tenetur pariatur sapiente alias nulla? ext to build on the card title and make up the bulk of the
            card's content.
        </span> </p>
    </div>
</article>

</section>

<script>cargarProducto(getUserId())</script>
</main>

</body>
</html>