<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uiSecretariaIngresoSitio</title>
    <!--Carga de Bootstrap’s CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Carga de Bootstrap’s JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!--Carga de jQuery JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!--Integración de funciones de archivo .js en HTML-->
    <script src="../controller/gestorSitiosIngreso.js"></script>
</head>

<body>

    <div class="container mt-4">

        <!--Titulo principal-->
        <h1>Interfaz Personal de Secretaria</h1>
        <!--Linea divisoria-->
        <hr>
        <!--Colapso: ingreso sitio-->
        <div id="colapso0" class="collapse show">
            <!--Titulo secundario-->
            <h3 class="mt-4">Ingreso de Sitio de Interés</h3>
        </div>
        
        <!--Colapso: ingreso sitio-->
        <div id="colapso1" class="collapse show">
            <!--Input nombre-->
            <div class="form-field mt-3">
                <label for="nombre" class="label">Nombre</label>
                <input id="nombre" placeholder="Por favor ingrese nombre" type="text" class="form-control mt-1">
            </div>
            <!--Input foto-->
            <div class="form-field mt-3">
                <label for="foto" class="label">Foto principal</label>
                <input id="foto" placeholder="Por favor ingrese link de la foto" type="text" class="form-control mt-1">
            </div>
            <!--Input descripcion-->
            <div class="form-field mt-3">
                <label for="descripcion" class="label">Descripción</label>
                <textarea id="descripcion" placeholder="Por favor escriba una descripción general" rows="5"
                    class="form-control mt-1"></textarea>
            </div>
            <!--Boton agregar-->
            <div class="d-grid mt-3">
                <button id="btnSiguiente" class="btn btn-outline-dark" onclick="procesarFormularioSitio()">Agregar</button>
            </div>
        </div>
        
        <!--Colapso: ingreso atractivos-->
        <div id="colapso2" class="collapse">
            <!--Titulo secundario-->
            <h3 class="mt-4">Ingreso de atractivos del lugar</h3>
            <!--Titulo instrucciones-->
            <h6 class="mt-3">Por favor, al completar los campos de cada uno de los atractivos, presione el botón 'Agregar'. Luego de
                cargar la cantidad deseada de atractivos, presione el botón 'Finalizar ingresos'</h6>
            <!--Input nombre-->
            <div class="form-field mt-4">
                <label for="nombre" class="label">Nombre</label>
                <input id="nombreAtract" placeholder="Por favor ingrese nombre" type="text" class="form-control mt-1">
            </div>
            <!--Input foto-->
            <div class="form-field mt-3">
                <label for="foto" class="label">Foto principal</label>
                <input id="fotoAtract" placeholder="Por favor ingrese link de la foto" type="text" class="form-control mt-1">
            </div>
            <!--Input resumen-->
            <div class="form-field mt-3">
                <label for="resumen" class="label">Resumen</label>
                <textarea id="resumenAtract" placeholder="Por favor escriba un resumen" class="form-control mt-1"></textarea>
            </div>
            <!--Input descripcion completa-->
            <div class="form-field mt-3">
                <label for="descripcion" class="label">Descripción</label>
                <textarea id="descripcionAtract" placeholder="Por favor escriba una descripción completa" rows="5"
                    class="form-control mt-1"></textarea>
            </div>
            <!--Boton agregar-->
            <div class="d-grid mt-3">
                <button class="btn btn-outline-dark" onclick="procesarFormularioAtractivo()">Agregar</button>
            </div>
            <!--Boton finalizar-->
            <br>
            <div class="d-grid mt-3">
                <button class="btn btn-outline-danger" onclick="finalizarIngresoAtractivosFormulario()">Finalizar ingreso de atractivos</button>
            </div>
            <br>
            <br>
        </div>

        <!--Colapso: ingreso atractivos-->
        <div id="colapso3" class="collapse">
            <!--Boton ingresar otro sitio-->
            <br>
            <div class="d-grid mt-3">
                <button class="btn btn-primary btn-lg" onclick="agregarOtroSitioFormulario()">Agregar otro sitio</button>
            </div>
            <!--Boton finalizar ingreso de sitios-->
            <div class="d-grid mt-3">
                <button class="btn btn-danger btn-lg" onclick="finalizarIngresoSitiosFormulario()">Finalizar ingresos</button>
            </div>
        </div>

    </div>

    <!--Scripts-->
    <script>
        // Se cargan sitios previamente cargados
        cargarSitios();

        // Se procesa el formulario de sitio de interes
        function procesarFormularioSitio() {
            if (!validarFormularioSitio())
                return false;

            agregarSitio();

            vaciarCamposFormularioSitio();
        }

        function validarFormularioSitio() {
                var nombre = document.getElementById("nombre").value;
                var foto = document.getElementById("foto").value;
                var descripcion = document.getElementById("descripcion").value;

                // Se pide que todos los campos sean completados
                if (nombre == "" || foto == "" || descripcion == "") {
                    alert("Por favor, complete todos los campos.");
                    return false;
                }

                // Se utiliza el selector jQuery para seleccionar el elemento collapsible por su id
                $('#colapso1').collapse('hide');
                $('#colapso2').collapse('show');

                return true;
            }

        function vaciarCamposFormularioSitio() {
                document.getElementById("nombre").value = "";
                document.getElementById("foto").value = "";
                document.getElementById("descripcion").value = "";
            }

        // Se procesa el formulario de atractivos
        function procesarFormularioAtractivo() {
                if (!validarFormularioAtractivo())
                    return false;

                agregarAtractivo();

                vaciarCamposFormularioAtractivo();
            }

        function validarFormularioAtractivo() {
                var nombre = document.getElementById("nombreAtract").value;
                var foto = document.getElementById("fotoAtract").value;
                var resumen = document.getElementById("resumenAtract").value;
                var descripcion = document.getElementById("descripcionAtract").value;

                // Se pide que todos los campos sean completados
                if (nombre == "" || foto == "" || resumen == "" || descripcion == "") {
                    alert("Por favor, complete todos los campos.");
                    return false;
                }

                return true;
            }

        function vaciarCamposFormularioAtractivo() {
            document.getElementById("nombreAtract").value = "";
            document.getElementById("fotoAtract").value = "";
            document.getElementById("resumenAtract").value = "";
            document.getElementById("descripcionAtract").value = "";
        }

        function finalizarIngresoAtractivosFormulario(){
            $('#colapso0').collapse('hide');
            $('#colapso2').collapse('hide');
            $('#colapso3').collapse('show');
        }

        function agregarOtroSitioFormulario() {
            $('#colapso3').collapse('hide');
            $('#colapso0').collapse('show');
            $('#colapso1').collapse('show');
        }

        function finalizarIngresoSitiosFormulario(){
            descargarSitios();
            window.location.href = "uiSecretaria.html";
        }
    </script>

</body>

</html>