<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uiSecretariaIngresoSitioAtractivos</title>
    <!--Carga de Bootstrap’s CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container mt-4">

        <!--Titulo principal-->
        <h1>Interfaz Personal de Secretaria</h1>
        <!--Linea divisoria-->
        <hr>
        <!--Titulo secundario-->
        <h3 class="mt-4">Ingreso de atractivos del lugar</h3>
        <!--Input nombre-->
        <div class="form-field mt-3">
            <label for="nombre" class="label">Nombre</label>
            <input id="nombre" placeholder="Por favor ingrese nombre" type="text" class="form-control mt-1">
        </div>
        <!--Input foto-->
        <div class="form-field mt-3">
            <label for="foto" class="label">Foto principal</label>
            <input id="foto" placeholder="Por favor ingrese link de la foto" type="text" class="form-control mt-1">
        </div>
        <!--Input resumen-->
        <div class="form-field mt-3">
            <label for="resumen" class="label">Resumen</label>
            <textarea id="resumen" placeholder="Por favor escriba un resumen" class="form-control mt-1"></textarea>
        </div>
        <!--Input descripcion completa-->
        <div class="form-field mt-3">
            <label for="descripcion" class="label">Descripción</label>
            <textarea id="descripcion" placeholder="Por favor escriba una descripción completa" rows="5"
                class="form-control mt-1"></textarea>
        </div>
        <!--Boton cargar-->
        <div class="d-grid mt-3">
            <a class="btn btn-outline-dark" href="#" role="button">Cargar</a>
        </div>

    </div>

    <!--Carga de Bootstrap’s JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>